<% title "New domain" %>

<div class="info_block">
  <div class="info_block_heading">
    New Domain
  </div>
  <div class="info_block_content">
    <div class="info_block_content_padding">
      <%= render 'form' %>
    </div>
  </div>
</div>
